<div class="p-4 bg-slate-50 border-2 border-slate-200">
  <div class="flex font-mono py-2 font-bold">
    <div class="w-1/4">Initial State</div>
    <div class="w-1/4">Operation</div>
    <div class="w-1/4">Evaluation</div>
    <div class="w-1/4 text-right">Visualization</div>
  </div>

  {{#each this.evaluations as |evaluation|}}
    <EvaluationPreview @evaluation={{evaluation}} />
  {{/each}}
</div>
