<div class="flex items-stretch justify-stretch gap-x-px h-4 py-0.5">
  {{#each this.bits as |bit|}}
    {{#if bit}}
      <div class="grow bg-blue-800"></div>
    {{else}}
      <div class="grow bg-blue-100"></div>
    {{/if}}
  {{/each}}
</div>
