<div class="flex items-strech gap-x-px h-3">
  {{#each this.bits as |bit|}}
    {{#if bit}}
      <div class="w-3 bg-blue-800"></div>
    {{else}}
      <div class="w-3 bg-blue-100"></div>
    {{/if}}
  {{/each}}
</div>
