<div class="grid grid-cols-[auto_1fr_auto_2fr_auto_1fr_auto_2fr_auto]">
  <div class="grid grid-cols-subgrid col-span-9">
    <div class="col-start-1">Operation</div>
    <div class="col-start-3">Visualization</div>
    <div class="col-start-6">State</div>
  </div>

  {{#each @interpreter.evaluations as |evaluation|}}
    <EvaluationPreview @evaluation={{evaluation}} @interpreter={{@interpreter}} />
  {{/each}}
</div>
