<div class="table table-auto w-full">
  <div class="table-header-group font-mono py-2 font-bold">
    <div class="table-row">
      <div class="table-cell">Operation</div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell">Visualization</div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell">State</div>
      <div class="table-cell"></div>
    </div>
  </div>

  <div class="table-row-group">
    {{#each @interpreter.evaluations as |evaluation|}}
      <EvaluationPreview @evaluation={{evaluation}} @interpreter={{@interpreter}} />
    {{/each}}
  </div>
</div>
