<div class="grid grid-cols-[auto_auto_1fr_auto_2fr_auto_1fr_auto_2fr_auto]">
  <div class="grid grid-cols-subgrid col-span-10 pb-4 font-bold text-center">
    <div class="col-start-2">Operation</div>
    <div class="col-start-5">Visualization</div>
    <div class="col-start-9">State</div>
  </div>

  {{#each @interpreter.evaluations as |evaluation|}}
    <EvaluationPreview @evaluation={{evaluation}} @interpreter={{@interpreter}} />
  {{/each}}
</div>
