<div class="flex items-center justify-stretch gap-x-0.5 h-4 py-0.5">
  {{#each this.bits as |bit|}}
    <div class="grow aspect-square rounded-full {{if bit 'bg-blue-800' 'bg-blue-100'}}"></div>
  {{/each}}
</div>
