<div
  class="cursor-pointer absolute w-8 h-8 leading-7 rounded text-center bottom-3 right-3 text-blue-500 hover:bg-slate-100 text-2xl border-2 border-slate-200"
  {{on "click" @callback}}
>
  {{if @active '-' '+'}}
</div>
